/*html {
  height: 100%;
}

body { 
  font-family: 'Alegreya';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  color: rgb(100,100,100);
  height: 100%;
}

.helveticafont {
  font-family:'Helvetica Neue';
  font-weight:lighter;
}
*/


